
body {
    position: absolute;
    top: 30%;
    left: 30%;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: #9DC284;
    color: white;
    font-size: 30px;
    font-family: Helvetica;
    


}

input {

    border: 2px solid #9DC284;
}

button {
    border: 2px solid #9DC284;
    color: #9DC284;
}